.error {
    border: 1px solid red;
}

span.error {
    color: red;
    border: none;
}

#auth {
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color: greenyellow;
}

input {
    display: block;
    margin: 15px auto;
    height: 50px;
    width: 250px;
    font-size: 20px;
}

button {
    background-color: hotpink;
    width: 200px;
    height: 70px;
}

#auth_message {
    display: none;
}