html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #adc0ce 0%, #b88eec 50%, #E4E4E4 100%);
}

body {
    overflow-y: auto;
}

.error {
    border: 1px solid red;
}

span.error {
    color: red;
    border: none;
}

#auth_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

#auth_wrapper:not(.no-auth) #auth,
#auth_wrapper.no-auth #sign_out,
#auth_wrapper.no-auth ~ #events_wrapper {
    display: none;
}

.no-auth #auth {
    width: 50%;
    margin: 20% auto;
    padding: 10px;
    text-align: center;
    background-color: greenyellow;
}

#auth input {
    display: block;
    margin: 15px auto;
    height: 50px;
    width: 250px;
    font-size: 20px;
}

#sign_out {
    position: absolute;
    top: 14px;
    left: 10px;
    width: 70px;
    cursor: pointer;
    z-index: 90;
}

.auth-button {
    display: inline-block;
    background-color: lightpink;
    width: 45%;
    height: 50px;
}

#events_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

#event_overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 100;
}

#settable_event {
    position: relative;
    width: 65%;
    margin: 10% auto;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    background-color: lightblue;
}

#settable_event > * {
    font-size: 20px;
    font-family: monospace;
    color: steelblue;
}

#settable_event input,
#settable_event textarea {
    padding: 5px 10px;
    color: #000;
    border: 0;
    border-radius: 3px;
}

#settable_event .datetime input {
    display: inline-block;
    width: 35%;
    margin-left: 5px;
}

#settable_event input {
    width: 60%;
    margin: 10px 0;
    height: 26px;
}

#settable_event textarea {
    display: block;
    width: calc(100% - 20px);
    height: 250px;
    resize: none;
    color: #000;
}

#settable_event .close-button {
    position: absolute;
    top: 5px;
    right: 15px;
}

#settable_event .close-button:hover {
    color: red;
    cursor: pointer;
}

#settable_event #set_event {
    width: 60px;
    position: absolute;
    right: -30px;
    bottom: -30px;
    cursor: pointer;
}

.event-card {
    position: relative;
    display: inline-block;
    width: 60%;
    margin: 15px auto;
    padding: 17px 10px 10px;
    text-align: left;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.7);
    word-wrap: break-word;
}

.event-card .datetime {
    padding: 0 10px;
}

.event-card .datetime div {
    display: inline-block;
}

.event-card .event-title {
    width: 80%;
    font-size: 18px;
    color: blueviolet;
    margin: 10px auto;
    text-align: center;
}

.event-card .event-note {
    background-color: white;
    border-radius: 6px;
    padding: 10px;
}

.event-card .button-block {
    position: absolute;
    top: 8px;
    right: 10px;
}

.event-card .button-block img {
    width: 26px;
    margin-left: 5px;
    cursor: pointer;
}

#show_event_overlay {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 80px;
    cursor: pointer;
}

#sign_out:hover,
#show_event_overlay:hover {
    border-radius: 10px;
    background-color: rgba(255,160,122, 0.5);
}